img{
    height: 3rem;
}

.app-header{
    
    justify-content: center;
    height: 10%;
}
.title{
    
    padding-left: 1.2rem;
    font-size: 1.5rem;
}
span{
    display: flex;
    align-items: center;
}
