form{
    width: 90%;
    margin: auto
}

.home{
    margin: 1rem auto;
    text-align: center
}

mat-card{
    background-color: #4F4F4F;
    color: white;
}
mat-card-subtitle{
    color: white;
}
button{
    width: 100%;
}

.text{
    text-align: justify;
}